/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
}

p, li, span, td, th, label, a, div {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

.float-icons {
  position: fixed;
  right: 18px;
  bottom: 18px;
  z-index: 9999;
}
